.fondo{
    background-color: #f2f2f2;
    background-image: linear-gradient(180deg, rgba(41,38,67,1) 0%, rgba(65,65,109,1) 100%);
    color:#333333;
    font-size: 14px;
    line-height: 20px;
    padding: 0px 0px 140px;
}

.header {
    background-color: #292643;
    color: #333333;
    font-size:14px;
    line-height: 20px;
    padding:0px 0px 40px
}
.haedercontainer{
    align-items: center;
    color: #333333;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: flex-start;
    line-height: 20px;
    margin: 0px 124.5px;
    padding: 50px 0px 0px;
    text-align: left;
}

.menucontainer{
color: #f2f2f2;
display: inline-block;
font-size: 14px;
justify-content: space-between;
line-height: 20px;
margin: 0px 0px 0px -38px;
text-align: left;
}

.imgcss{
    color:#333333;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}